# Godot 4+ specific ignores
.godot/
Objects/BttmRghtMap.dae.import
Objects/BttmRghtMap.dae
Objects/MapBttmRght.dae
Objects/MapBttmRght.dae.import
Objects/MapTemp.dae
Objects/MapTemp.dae.import
addons/cyclops_level_builder/cyclops_global_scene.gd
addons/cyclops_level_builder/cyclops_global_scene.tscn
addons/cyclops_level_builder/cyclops_level_builder.gd
addons/cyclops_level_builder/cyclops_overlay.gd
addons/cyclops_level_builder/LICENSE.md
addons/cyclops_level_builder/plugin.cfg
addons/cyclops_level_builder/actions/action_convert_to_mesh.gd
addons/cyclops_level_builder/actions/action_delete_selected_blocks.gd
addons/cyclops_level_builder/actions/action_duplicate_selected_blocks.gd
addons/cyclops_level_builder/actions/action_export_as_gltf.gd
addons/cyclops_level_builder/actions/action_intersect_block.gd
addons/cyclops_level_builder/actions/action_merge_selected_blocks.gd
addons/cyclops_level_builder/actions/action_mirror_selection_x.gd
addons/cyclops_level_builder/actions/action_mirror_selection_y.gd
addons/cyclops_level_builder/actions/action_mirror_selection_z.gd
addons/cyclops_level_builder/actions/action_rotate_selection.gd
addons/cyclops_level_builder/actions/action_rotate_x_90_ccw.gd
addons/cyclops_level_builder/actions/action_rotate_x_90_cw.gd
addons/cyclops_level_builder/actions/action_rotate_x_180.gd
addons/cyclops_level_builder/actions/action_rotate_y_90_ccw.gd
addons/cyclops_level_builder/actions/action_rotate_y_90_cw.gd
addons/cyclops_level_builder/actions/action_rotate_y_180.gd
addons/cyclops_level_builder/actions/action_rotate_z_90_ccw.gd
addons/cyclops_level_builder/actions/action_rotate_z_90_cw.gd
addons/cyclops_level_builder/actions/action_rotate_z_180.gd
addons/cyclops_level_builder/actions/action_scale_selection.gd
addons/cyclops_level_builder/actions/action_snap_to_grid.gd
addons/cyclops_level_builder/actions/action_subtract_block.gd
addons/cyclops_level_builder/actions/action_tool_duplicate.gd
addons/cyclops_level_builder/actions/cyclops_action.gd
addons/cyclops_level_builder/art/cyclops_3.png
addons/cyclops_level_builder/art/cyclops_3.png.import
addons/cyclops_level_builder/art/cyclops_4.png
addons/cyclops_level_builder/art/cyclops_4.png.import
addons/cyclops_level_builder/art/cyclops_16.png
addons/cyclops_level_builder/art/cyclops_16.png.import
addons/cyclops_level_builder/art/cyclops_17.png
addons/cyclops_level_builder/art/cyclops_17.png.import
addons/cyclops_level_builder/art/cyclops_closed.png
addons/cyclops_level_builder/art/cyclops_closed.png.import
addons/cyclops_level_builder/art/cyclops_open.png
addons/cyclops_level_builder/art/cyclops_open.png.import
addons/cyclops_level_builder/art/cyclops.svg
addons/cyclops_level_builder/art/cyclops.svg.import
addons/cyclops_level_builder/art/cyclops1.png
addons/cyclops_level_builder/art/cyclops1.png.import
addons/cyclops_level_builder/art/cyclops2.png
addons/cyclops_level_builder/art/cyclops2.png.import
addons/cyclops_level_builder/art/materialTest.glb
addons/cyclops_level_builder/art/materialTest.glb.import
addons/cyclops_level_builder/art/fonts/Roboto/LICENSE.txt
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Black.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Black.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-BlackItalic.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-BlackItalic.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Bold.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Bold.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-BoldItalic.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-BoldItalic.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Italic.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Italic.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Light.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Light.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-LightItalic.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-LightItalic.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Medium.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Medium.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-MediumItalic.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-MediumItalic.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Regular.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Regular.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Thin.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-Thin.ttf.import
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-ThinItalic.ttf
addons/cyclops_level_builder/art/fonts/Roboto/Roboto-ThinItalic.ttf.import
addons/cyclops_level_builder/art/gizmos/gizmo_rotate.glb
addons/cyclops_level_builder/art/gizmos/gizmo_rotate.glb.import
addons/cyclops_level_builder/art/gizmos/gizmo_scale.glb
addons/cyclops_level_builder/art/gizmos/gizmo_scale.glb.import
addons/cyclops_level_builder/art/gizmos/gizmo_translate.glb
addons/cyclops_level_builder/art/gizmos/gizmo_translate.glb.import
addons/cyclops_level_builder/art/icons/block.svg
addons/cyclops_level_builder/art/icons/block.svg.import
addons/cyclops_level_builder/art/icons/create_cylinder.svg
addons/cyclops_level_builder/art/icons/create_cylinder.svg.import
addons/cyclops_level_builder/art/icons/create_prism.svg
addons/cyclops_level_builder/art/icons/create_prism.svg.import
addons/cyclops_level_builder/art/icons/create_stairs.svg
addons/cyclops_level_builder/art/icons/create_stairs.svg.import
addons/cyclops_level_builder/art/icons/edit_clip.svg
addons/cyclops_level_builder/art/icons/edit_clip.svg.import
addons/cyclops_level_builder/art/icons/material_brush.svg
addons/cyclops_level_builder/art/icons/material_brush.svg.import
addons/cyclops_level_builder/art/icons/move.svg
addons/cyclops_level_builder/art/icons/move.svg.import
addons/cyclops_level_builder/art/icons/rotate.svg
addons/cyclops_level_builder/art/icons/rotate.svg.import
addons/cyclops_level_builder/art/icons/select_edge.svg
addons/cyclops_level_builder/art/icons/select_edge.svg.import
addons/cyclops_level_builder/art/icons/select_face.svg
addons/cyclops_level_builder/art/icons/select_face.svg.import
addons/cyclops_level_builder/art/icons/select_vertex.svg
addons/cyclops_level_builder/art/icons/select_vertex.svg.import
addons/cyclops_level_builder/art/icons/snap_grid.svg
addons/cyclops_level_builder/art/icons/snap_grid.svg.import
addons/cyclops_level_builder/art/icons/snap_vertex.svg
addons/cyclops_level_builder/art/icons/snap_vertex.svg.import
addons/cyclops_level_builder/art/icons/snap.svg
addons/cyclops_level_builder/art/icons/snap.svg.import
addons/cyclops_level_builder/art/icons/uv_lock.svg
addons/cyclops_level_builder/art/icons/uv_lock.svg.import
addons/cyclops_level_builder/art/icons/xray_normal.svg
addons/cyclops_level_builder/art/icons/xray_normal.svg.import
addons/cyclops_level_builder/art/textures/checkerboard.png
addons/cyclops_level_builder/art/textures/checkerboard.png.import
addons/cyclops_level_builder/art/textures/grid_cell.png
addons/cyclops_level_builder/art/textures/grid_cell.png.import
addons/cyclops_level_builder/art/textures/grid_cell2.png
addons/cyclops_level_builder/art/textures/grid_cell2.png.import
addons/cyclops_level_builder/art/textures/vertex.png
addons/cyclops_level_builder/art/textures/vertex.png.import
addons/cyclops_level_builder/commands/cmd_add_block.gd
addons/cyclops_level_builder/commands/cmd_add_cylinder.gd
addons/cyclops_level_builder/commands/cmd_add_prism.gd
addons/cyclops_level_builder/commands/cmd_add_stairs.gd
addons/cyclops_level_builder/commands/cmd_add_vertices.gd
addons/cyclops_level_builder/commands/cmd_clip_block.gd
addons/cyclops_level_builder/commands/cmd_delete_blocks.gd
addons/cyclops_level_builder/commands/cmd_duplicate_blocks.gd
addons/cyclops_level_builder/commands/cmd_intersect_block.gd
addons/cyclops_level_builder/commands/cmd_merge_blocks.gd
addons/cyclops_level_builder/commands/cmd_move_edges.gd
addons/cyclops_level_builder/commands/cmd_move_face_planar.gd
addons/cyclops_level_builder/commands/cmd_move_faces.gd
addons/cyclops_level_builder/commands/cmd_move_vertices.gd
addons/cyclops_level_builder/commands/cmd_select_blocks.gd
addons/cyclops_level_builder/commands/cmd_select_edges.gd
addons/cyclops_level_builder/commands/cmd_select_faces.gd
addons/cyclops_level_builder/commands/cmd_select_vertices.gd
addons/cyclops_level_builder/commands/cmd_set_face_color.gd
addons/cyclops_level_builder/commands/cmd_set_face_uv_transform.gd
addons/cyclops_level_builder/commands/cmd_set_face_visible.gd
addons/cyclops_level_builder/commands/cmd_set_material.gd
addons/cyclops_level_builder/commands/cmd_snap_to_grid.gd
addons/cyclops_level_builder/commands/cmd_subtract_block.gd
addons/cyclops_level_builder/commands/cmd_transform_blocks.gd
addons/cyclops_level_builder/commands/cmd_transform_vertices.gd
addons/cyclops_level_builder/commands/cyclops_command.gd
addons/cyclops_level_builder/controls/numeric_line_edit.gd
addons/cyclops_level_builder/controls/numeric_line_edit.tscn
addons/cyclops_level_builder/controls/test_line_edit.gd
addons/cyclops_level_builder/controls/test_line_edit.tscn
addons/cyclops_level_builder/controls/vector3_edit.gd
addons/cyclops_level_builder/controls/vector3_edit.tscn
addons/cyclops_level_builder/controls/vertex_billboard.gd
addons/cyclops_level_builder/controls/vertex_billboard.tscn
addons/cyclops_level_builder/controls/resource_inspector/line_editor_bool.gd
addons/cyclops_level_builder/controls/resource_inspector/line_editor_bool.tscn
addons/cyclops_level_builder/controls/resource_inspector/line_editor_float.gd
addons/cyclops_level_builder/controls/resource_inspector/line_editor_float.tscn
addons/cyclops_level_builder/controls/resource_inspector/line_editor_int.gd
addons/cyclops_level_builder/controls/resource_inspector/line_editor_int.tscn
addons/cyclops_level_builder/controls/resource_inspector/resource_inspector.gd
addons/cyclops_level_builder/controls/resource_inspector/resource_inspector.tscn
addons/cyclops_level_builder/data/configuration.tres
addons/cyclops_level_builder/data/snapping_tags/snap_tag_grid.tres
addons/cyclops_level_builder/data/snapping_tags/snap_tag_vertex.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_clip.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_create_block.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_create_cylinder.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_create_prism.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_create_stairs.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_duplicate.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_edit_edge.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_edit_face.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_edit_vertex.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_material_brush.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_move.tres
addons/cyclops_level_builder/data/tool_tags/tool_tag_rotate.tres
addons/cyclops_level_builder/docks/convex_face_editor/convex_face_editor_preview_studio.gd
addons/cyclops_level_builder/docks/convex_face_editor/convex_face_editor_preview_studio.tscn
addons/cyclops_level_builder/docks/convex_face_editor/convex_face_editor_preview.gd
addons/cyclops_level_builder/docks/convex_face_editor/convex_face_editor_preview.tscn
addons/cyclops_level_builder/docks/convex_face_editor/convex_face_editor_viewport.gd
addons/cyclops_level_builder/docks/convex_face_editor/convex_face_editor_viewport.tscn
addons/cyclops_level_builder/docks/cyclops_console/cyclops_console.gd
addons/cyclops_level_builder/docks/cyclops_console/cyclops_console.tscn
addons/cyclops_level_builder/docks/material_palette/material_palette_viewport.gd
addons/cyclops_level_builder/docks/material_palette/material_palette_viewport.tscn
addons/cyclops_level_builder/docks/material_palette/material_snapshot.gd
addons/cyclops_level_builder/docks/material_palette/material_snapshot.tscn
addons/cyclops_level_builder/docks/material_palette/material_thumbnail.gd
addons/cyclops_level_builder/docks/material_palette/material_thumbnail.tscn
addons/cyclops_level_builder/docks/material_palette/thumbnail_group.gd
addons/cyclops_level_builder/docks/material_palette/thumbnail_normal_theme.tres
addons/cyclops_level_builder/docks/material_palette/thumbnail_selected_theme.tres
addons/cyclops_level_builder/docks/material_palette/commands/cmd_mat_dock_add_materials.gd
addons/cyclops_level_builder/docks/material_palette/commands/cmd_mat_dock_remove_materials.gd
addons/cyclops_level_builder/docks/snapping_properties/snapping_properties_dock.gd
addons/cyclops_level_builder/docks/snapping_properties/snapping_properties_dock.tscn
addons/cyclops_level_builder/docks/tool_properties/tool_properties_dock.gd
addons/cyclops_level_builder/docks/tool_properties/tool_properties_dock.tscn
addons/cyclops_level_builder/exporter/exporter_gltf_wizard.gd
addons/cyclops_level_builder/exporter/exporter_gltf_wizard.tscn
addons/cyclops_level_builder/handles/handle_edge.gd
addons/cyclops_level_builder/handles/handle_face.gd
addons/cyclops_level_builder/handles/handle_vertex.gd
addons/cyclops_level_builder/materials/gizmo_axis_selected_material.tres
addons/cyclops_level_builder/materials/gizmo_axis_special_material.tres
addons/cyclops_level_builder/materials/gizmo_axis_x_material.tres
addons/cyclops_level_builder/materials/gizmo_axis_y_material.tres
addons/cyclops_level_builder/materials/gizmo_axis_z_material.tres
addons/cyclops_level_builder/materials/grid.tres
addons/cyclops_level_builder/materials/outline_material.tres
addons/cyclops_level_builder/materials/selection_rect_material.tres
addons/cyclops_level_builder/materials/test_materials.tscn
addons/cyclops_level_builder/materials/tool_edit_active_fill_material.tres
addons/cyclops_level_builder/materials/tool_edit_active_material.tres
addons/cyclops_level_builder/materials/tool_edit_selected_fill_material.tres
addons/cyclops_level_builder/materials/tool_edit_selected_material.tres
addons/cyclops_level_builder/materials/tool_edit_unselected_material.tres
addons/cyclops_level_builder/materials/tool_material.tres
addons/cyclops_level_builder/materials/tool_object_active_material.tres
addons/cyclops_level_builder/materials/tool_object_selected_material.tres
addons/cyclops_level_builder/materials/vertex_active_material.tres
addons/cyclops_level_builder/materials/vertex_selected_material.tres
addons/cyclops_level_builder/materials/vertex_tool_material.tres
addons/cyclops_level_builder/materials/vertex_unselected_material.tres
addons/cyclops_level_builder/math/clip_poly_result.gd
addons/cyclops_level_builder/math/convex_volume.gd
addons/cyclops_level_builder/math/data_vector.gd
addons/cyclops_level_builder/math/face_packer.gd
addons/cyclops_level_builder/math/general_mesh.gd
addons/cyclops_level_builder/math/geometry_mesh.gd
addons/cyclops_level_builder/math/loop_2d.gd
addons/cyclops_level_builder/math/math_geometry.gd
addons/cyclops_level_builder/math/math_util.gd
addons/cyclops_level_builder/math/quick_hull.gd
addons/cyclops_level_builder/math/segent_3.gd
addons/cyclops_level_builder/menu/action_popup_menu.gd
addons/cyclops_level_builder/menu/editor_toolbar.gd
addons/cyclops_level_builder/menu/editor_toolbar.tscn
addons/cyclops_level_builder/menu/sticky_toolbar.gd
addons/cyclops_level_builder/menu/sticky_toolbar.tscn
addons/cyclops_level_builder/menu/upgrade_cyclops_blocks_toolbar.gd
addons/cyclops_level_builder/menu/upgrade_cyclops_blocks_toolbar.tscn
addons/cyclops_level_builder/nodes/cyclops_block.gd
addons/cyclops_level_builder/nodes/cyclops_blocks_icon.png
addons/cyclops_level_builder/nodes/cyclops_blocks_icon.png.import
addons/cyclops_level_builder/nodes/cyclops_blocks_icon.svg
addons/cyclops_level_builder/nodes/cyclops_blocks_icon.svg.import
addons/cyclops_level_builder/nodes/cyclops_blocks.gd
addons/cyclops_level_builder/nodes/cyclops_convex_block_body.gd
addons/cyclops_level_builder/nodes/cyclops_convex_block.gd
addons/cyclops_level_builder/nodes/intersect_results.gd
addons/cyclops_level_builder/resources/block_data.gd
addons/cyclops_level_builder/resources/convex_block_data.gd
addons/cyclops_level_builder/resources/cyclops_config.gd
addons/cyclops_level_builder/resources/tool_tag.gd
addons/cyclops_level_builder/shaders/outline_shader.tres
addons/cyclops_level_builder/shaders/tool_outline_shader.tres
addons/cyclops_level_builder/shaders/vertex_shader.tres
addons/cyclops_level_builder/snapping/cyclops_snapping_system.gd
addons/cyclops_level_builder/snapping/move_constraint.gd
addons/cyclops_level_builder/snapping/snap_to_grid_util.gd
addons/cyclops_level_builder/snapping/snapping_manager.gd
addons/cyclops_level_builder/snapping/snapping_query.gd
addons/cyclops_level_builder/snapping/snapping_system_grid_properties_editor.gd
addons/cyclops_level_builder/snapping/snapping_system_grid_properties_editor.tscn
addons/cyclops_level_builder/snapping/snapping_system_grid.gd
addons/cyclops_level_builder/snapping/snapping_system_vertex_properties_editor.gd
addons/cyclops_level_builder/snapping/snapping_system_vertex_properties_editor.tscn
addons/cyclops_level_builder/snapping/snapping_system_vertex_settings.gd
addons/cyclops_level_builder/snapping/snapping_system_vertex.gd
addons/cyclops_level_builder/snapping/snapping_tag.gd
addons/cyclops_level_builder/tools/cyclops_tool.gd
addons/cyclops_level_builder/tools/tool_block_settings_editor.gd
addons/cyclops_level_builder/tools/tool_block_settings_editor.tscn
addons/cyclops_level_builder/tools/tool_block_settings.gd
addons/cyclops_level_builder/tools/tool_block.gd
addons/cyclops_level_builder/tools/tool_clip.gd
addons/cyclops_level_builder/tools/tool_cylinder_settings.gd
addons/cyclops_level_builder/tools/tool_cylinder.gd
addons/cyclops_level_builder/tools/tool_duplicate.gd
addons/cyclops_level_builder/tools/tool_edit_base.gd
addons/cyclops_level_builder/tools/tool_edit_edge.gd
addons/cyclops_level_builder/tools/tool_edit_face.gd
addons/cyclops_level_builder/tools/tool_edit_vertex.gd
addons/cyclops_level_builder/tools/tool_material_brush_settings_editor.gd
addons/cyclops_level_builder/tools/tool_material_brush_settings_editor.tscn
addons/cyclops_level_builder/tools/tool_material_brush_settings.gd
addons/cyclops_level_builder/tools/tool_material_brush.gd
addons/cyclops_level_builder/tools/tool_move.gd
addons/cyclops_level_builder/tools/tool_prism_settings_editor.gd
addons/cyclops_level_builder/tools/tool_prism_settings_editor.tscn
addons/cyclops_level_builder/tools/tool_prism_settings.gd
addons/cyclops_level_builder/tools/tool_prism.gd
addons/cyclops_level_builder/tools/tool_rotate.gd
addons/cyclops_level_builder/tools/tool_stairs_settings.gd
addons/cyclops_level_builder/tools/tool_stairs.gd
addons/cyclops_level_builder/tools/gizmos/gizmo_base.gd
addons/cyclops_level_builder/tools/gizmos/gizmo_rotate.gd
addons/cyclops_level_builder/tools/gizmos/gizmo_rotate.tscn
addons/cyclops_level_builder/tools/gizmos/gizmo_test.gd
addons/cyclops_level_builder/tools/gizmos/gizmo_test.tscn
addons/cyclops_level_builder/tools/gizmos/gizmo_translate.gd
addons/cyclops_level_builder/tools/gizmos/gizmo_translate.tscn
addons/cyclops_level_builder/util/collision.gd
addons/cyclops_level_builder/util/display_mode.gd
addons/cyclops_level_builder/util/general_util.gd
addons/cyclops_level_builder/util/logger.gd
addons/cyclops_level_builder/util/selection.gd
addons/cyclops_level_builder/util/serial_util.gd
addons/cyclops_level_builder/util/settings.gd
addons/cyclops_level_builder/util/tree_vistor.gd
addons/cyclops_level_builder/util/unit_system.gd
